In [1]:
import pandas as pd
import numpy as np
import pymysql
import sqlalchemy as alch


import os 
from dotenv import load_dotenv
from getpass import getpass

import pprint

## 1. Basic Cleaning

In [2]:
madrid = pd.read_csv("C:/Users/Marco/Desktop/IronHack/projects/Project-SQL-Tableau/data/houses_Madrid.csv")

In [3]:
madrid.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

In [4]:
"""
100% cleaned default columns:

Unnamed:                  
id                         
title                      
subtitle                   
n_rooms                    
is_exact_address_hidden    
neighborhood_id            
operation                  
rent_price                 
is_rent_price_known        
buy_price                  
buy_price_by_area          
is_buy_price_known         
is_renewal_needed          
energy_certificate         
has_parking                
dtype: int64

"""

'\n100% cleaned default columns:\n\nUnnamed:                  \nid                         \ntitle                      \nsubtitle                   \nn_rooms                    \nis_exact_address_hidden    \nneighborhood_id            \noperation                  \nrent_price                 \nis_rent_price_known        \nbuy_price                  \nbuy_price_by_area          \nis_buy_price_known         \nis_renewal_needed          \nenergy_certificate         \nhas_parking                \ndtype: int64\n\n'

In [5]:
# I take away all the columns with more than 5000 null values
columns_to_drop = madrid.columns[madrid.isnull().sum() > 5000]

df = madrid.drop(columns=columns_to_drop)

In [6]:
df.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,n_rooms,n_bathrooms,is_exact_address_hidden,floor,is_floor_under,...,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,has_lift,is_exterior,energy_certificate,has_parking
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,2,1.0,False,3,False,...,85000,1328,True,HouseType 1: Pisos,False,False,False,True,D,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,3,1.0,True,4,False,...,129900,1856,True,HouseType 1: Pisos,True,False,True,True,en trámite,False
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,2,2.0,False,1,False,...,144247,1535,True,HouseType 1: Pisos,False,False,True,True,no indicado,False
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,2,1.0,True,Bajo,True,...,109900,1717,True,HouseType 1: Pisos,False,False,True,True,en trámite,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,2,2.0,True,4,False,...,260000,2407,True,HouseType 1: Pisos,False,False,True,True,en trámite,True

In [7]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
is_exterior           3043
floor                 2607
has_lift              2386
is_floor_under        1170
is_new_development     992
house_type_id          391
sq_mt_built            126
n_bathrooms             16
dtype: int64

In [8]:
null_values = df.isnull().sum()

pprint.pprint(null_values)

Unnamed: 0                    0
id                            0
title                         0
subtitle                      0
sq_mt_built                 126
n_rooms                       0
n_bathrooms                  16
is_exact_address_hidden       0
floor                      2607
is_floor_under             1170
neighborhood_id               0
operation                     0
rent_price                    0
is_rent_price_known           0
buy_price                     0
buy_price_by_area             0
is_buy_price_known            0
house_type_id               391
is_renewal_needed             0
is_new_development          992
has_lift                   2386
is_exterior                3043
energy_certificate            0
has_parking                   0
dtype: int64

In [9]:
df_cleaned = df.dropna()

In [10]:
df_cleaned.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,n_rooms,n_bathrooms,is_exact_address_hidden,floor,is_floor_under,...,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,has_lift,is_exterior,energy_certificate,has_parking
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,2,1.0,False,3,False,...,85000,1328,True,HouseType 1: Pisos,False,False,False,True,D,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,3,1.0,True,4,False,...,129900,1856,True,HouseType 1: Pisos,True,False,True,True,en trámite,False
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,2,2.0,False,1,False,...,144247,1535,True,HouseType 1: Pisos,False,False,True,True,no indicado,False
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,2,1.0,True,Bajo,True,...,109900,1717,True,HouseType 1: Pisos,False,False,True,True,en trámite,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,2,2.0,True,4,False,...,260000,2407,True,HouseType 1: Pisos,False,False,True,True,en trámite,True

In [11]:
columns_to_drop = ['Unnamed: 0']

df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [12]:
num_columns = df_cleaned.shape[1]
num_rows = df_cleaned.shape[0]
print("Number of columns:", num_columns)
print("Number of rows:", num_rows)

"""
try 1000 = columns=19
        rows=20238
try 5000 = columns=23
        rows=17 397

"""

Number of columns: 23
Number of rows: 17397

'\ntry 1000 = columns=19\n        rows=20238\ntry 5000 = columns=23\n        rows=17 397\n\n'

In [13]:

df = df_cleaned
df.head()

,id,title,subtitle,sq_mt_built,n_rooms,n_bathrooms,is_exact_address_hidden,floor,is_floor_under,neighborhood_id,...,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,has_lift,is_exterior,energy_certificate,has_parking
0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,2,1.0,False,3,False,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,...,85000,1328,True,HouseType 1: Pisos,False,False,False,True,D,False
1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,3,1.0,True,4,False,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,...,129900,1856,True,HouseType 1: Pisos,True,False,True,True,en trámite,False
2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,2,2.0,False,1,False,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,...,144247,1535,True,HouseType 1: Pisos,False,False,True,True,no indicado,False
3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,2,1.0,True,Bajo,True,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,...,109900,1717,True,HouseType 1: Pisos,False,False,True,True,en trámite,False
4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,2,2.0,True,4,False,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,...,260000,2407,True,HouseType 1: Pisos,False,False,True,True,en trámite,True

In [14]:
columns_with_nulls = df.columns[df.isnull().any()]
null_counts = df[columns_with_nulls].isnull().sum().sort_values(ascending=False)

print("Columns with the most null values:")
print(null_counts)

Columns with the most null values:
Series([], dtype: float64)

In [15]:
"""
I now have 0 null values and can proceed to import my new data to my sql
but first i have to divide the dataframe into different sections for having different tables inside mysql.
"""

'\nI now have 0 null values and can proceed to import my new data to my sql\nbut first i have to divide the dataframe into different sections for having different tables inside mysql.\n'

## 2. Spliting for SQL

In [16]:

for column in df.columns:
    print(column)

id
title
subtitle
sq_mt_built
n_rooms
n_bathrooms
is_exact_address_hidden
floor
is_floor_under
neighborhood_id
operation
rent_price
is_rent_price_known
buy_price
buy_price_by_area
is_buy_price_known
house_type_id
is_renewal_needed
is_new_development
has_lift
is_exterior
energy_certificate
has_parking

In [17]:
df.dropna(inplace=True)

In [18]:
df.to_csv('madrid_properties.csv', index=False)

In [586]:

main_info = df[['id', 'sq_mt_built', 'n_rooms', 'n_bathrooms', 'floor', 'is_floor_under', 'operation']].copy()
location = df[['title', 'subtitle', 'is_exact_address_hidden', 'neighborhood_id']].copy()
features = df[['has_lift', 'is_exterior', 'energy_certificate', 'has_parking']].copy()
type = df[['house_type_id', 'is_renewal_needed', 'is_new_development']].copy()
pricing = df[['rent_price', 'is_rent_price_known', 'buy_price', 'is_buy_price_known', 'buy_price_by_area']].copy()

In [587]:
num_rows = len(main_info)

main_info['type_id'] = np.random.permutation(num_rows) + 1
main_info['feature_id'] = np.random.permutation(num_rows) + 1
main_info['location_id'] = np.random.permutation(num_rows) + 1

In [588]:
id1 = main_info['type_id'].duplicated()
id2 = main_info['feature_id'].duplicated()
id3 = main_info['location_id'].duplicated()
print(id1.sum())
print(id2.sum())
print(id3.sum())

0
0
0

In [589]:
main_info.reset_index(inplace=True, drop=True)
main_info

,id,sq_mt_built,n_rooms,n_bathrooms,floor,is_floor_under,operation,type_id,feature_id,location_id
0,21742,64.0,2,1.0,3,False,sale,13184,12209,12031
1,21741,70.0,3,1.0,4,False,sale,1524,7381,7484
2,21740,94.0,2,2.0,1,False,sale,16738,8800,3058
3,21739,64.0,2,1.0,Bajo,True,sale,13469,14050,2908
4,21738,108.0,2,2.0,4,False,sale,7976,5535,15873
...,...,...,...,...,...,...,...,...,...,...
17392,7,88.0,2,2.0,1,False,sale,2549,2366,478
17393,6,99.0,2,2.0,1,False,sale,5378,330,8476
17394,5,78.0,2,2.0,4,False,sale,4252,13120,15820
17395,4,96.0,2,2.0,3,False,sale,5833,14070,8662
17396,3,175.0,4,2.0,Bajo,True,sale,16485,16335,10150

In [590]:
location

,title,subtitle,is_exact_address_hidden,neighborhood_id
0,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",False,Neighborhood 135: San Cristóbal (1308.89 €/m2)...
1,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",True,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...
2,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",False,Neighborhood 134: San Andrés (1617.18 €/m2) - ...
3,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",True,Neighborhood 134: San Andrés (1617.18 €/m2) - ...
4,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",True,Neighborhood 133: Los Rosales (1827.79 €/m2) -...
...,...,...,...,...
21735,Piso en venta en calle Bahía de Almería,"Campo de las Naciones-Corralejos, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...
21736,Piso en venta en calle Bahía de Alicante,"Campo de las Naciones-Corralejos, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...
21737,Ático en venta en Casco Histórico de Barajas,"Barajas, Madrid",True,Neighborhood 10: Casco Histórico de Barajas (3...
21738,Piso en venta en Urb. Campo de las Naciones - ...,"Barajas, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...
21739,Piso en venta en Campo de las Naciones-Corralejos,"Barajas, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...

In [591]:
print("Number of rows in 'location':", location.shape[0])
print("Number of rows in 'main_info':", main_info.shape[0])

Number of rows in 'location': 17397
Number of rows in 'main_info': 17397

In [592]:
unique_location_ids = main_info['location_id'].nunique()
total_rows_main_info = main_info.shape[0]

print("Number of unique 'location_id' values in 'main_info':", unique_location_ids)
print("Total rows in 'main_info':", total_rows_main_info)

Number of unique 'location_id' values in 'main_info': 17397
Total rows in 'main_info': 17397

In [593]:
location.reset_index(drop=True, inplace=True)
main_info.reset_index(drop=True, inplace=True)

In [594]:
location = pd.concat([location, main_info['location_id']], axis=1)

In [595]:
location

,title,subtitle,is_exact_address_hidden,neighborhood_id,location_id
0,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",False,Neighborhood 135: San Cristóbal (1308.89 €/m2)...,12031
1,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",True,Neighborhood 132: Los Ángeles (1796.68 €/m2) -...,7484
2,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",False,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,3058
3,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",True,Neighborhood 134: San Andrés (1617.18 €/m2) - ...,2908
4,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",True,Neighborhood 133: Los Rosales (1827.79 €/m2) -...,15873
...,...,...,...,...,...
17392,Piso en venta en calle Bahía de Almería,"Campo de las Naciones-Corralejos, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...,478
17393,Piso en venta en calle Bahía de Alicante,"Campo de las Naciones-Corralejos, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...,8476
17394,Ático en venta en Casco Histórico de Barajas,"Barajas, Madrid",True,Neighborhood 10: Casco Histórico de Barajas (3...,15820
17395,Piso en venta en Urb. Campo de las Naciones - ...,"Barajas, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...,8662
17396,Piso en venta en Campo de las Naciones-Corralejos,"Barajas, Madrid",True,Neighborhood 9: Campo de las Naciones-Corralej...,10150

In [596]:
features

      has_lift is_exterior energy_certificate  has_parking
0        False        True                  D        False
1         True        True         en trámite        False
2         True        True        no indicado        False
3         True        True         en trámite        False
4         True        True         en trámite         True
...        ...         ...                ...          ...
21735     True        True        no indicado         True
21736     True        True        no indicado         True
21737     True        True         en trámite         True
21738     True        True         en trámite         True
21739    False        True                  E         True

[17397 rows x 4 columns]

In [597]:
features.reset_index(drop=True, inplace=True)
main_info.reset_index(drop=True, inplace=True)

In [598]:
features = pd.concat([features, main_info['feature_id']], axis=1)

In [599]:
features

      has_lift is_exterior energy_certificate  has_parking  feature_id
0        False        True                  D        False       12209
1         True        True         en trámite        False        7381
2         True        True        no indicado        False        8800
3         True        True         en trámite        False       14050
4         True        True         en trámite         True        5535
...        ...         ...                ...          ...         ...
17392     True        True        no indicado         True        2366
17393     True        True        no indicado         True         330
17394     True        True         en trámite         True       13120
17395     True        True         en trámite         True       14070
17396    False        True                  E         True       16335

[17397 rows x 5 columns]

In [600]:
type

             house_type_id  is_renewal_needed is_new_development
0       HouseType 1: Pisos              False              False
1       HouseType 1: Pisos               True              False
2       HouseType 1: Pisos              False              False
3       HouseType 1: Pisos              False              False
4       HouseType 1: Pisos              False              False
...                    ...                ...                ...
21735   HouseType 1: Pisos              False              False
21736   HouseType 1: Pisos              False              False
21737  HouseType 5: Áticos              False              False
21738   HouseType 1: Pisos              False              False
21739   HouseType 1: Pisos              False              False

[17397 rows x 3 columns]

In [601]:
type.reset_index(drop=True, inplace=True)
main_info.reset_index(drop=True, inplace=True)

In [602]:
type = pd.concat([type, main_info['type_id']], axis=1)

In [603]:
type

             house_type_id  is_renewal_needed is_new_development  type_id
0       HouseType 1: Pisos              False              False    13184
1       HouseType 1: Pisos               True              False     1524
2       HouseType 1: Pisos              False              False    16738
3       HouseType 1: Pisos              False              False    13469
4       HouseType 1: Pisos              False              False     7976
...                    ...                ...                ...      ...
17392   HouseType 1: Pisos              False              False     2549
17393   HouseType 1: Pisos              False              False     5378
17394  HouseType 5: Áticos              False              False     4252
17395   HouseType 1: Pisos              False              False     5833
17396   HouseType 1: Pisos              False              False    16485

[17397 rows x 4 columns]

god giving his thoughest fights to his strongest soldier(playing chess against folch)

In [604]:
num_rows = len(type)

type['price_id'] = np.random.permutation(num_rows) + 1

In [605]:
type

,house_type_id,is_renewal_needed,is_new_development,type_id,price_id
0,HouseType 1: Pisos,False,False,13184,10266
1,HouseType 1: Pisos,True,False,1524,12976
2,HouseType 1: Pisos,False,False,16738,13604
3,HouseType 1: Pisos,False,False,13469,1492
4,HouseType 1: Pisos,False,False,7976,285
...,...,...,...,...,...
17392,HouseType 1: Pisos,False,False,2549,14922
17393,HouseType 1: Pisos,False,False,5378,800
17394,HouseType 5: Áticos,False,False,4252,15077
17395,HouseType 1: Pisos,False,False,5833,1144
17396,HouseType 1: Pisos,False,False,16485,16418

In [606]:
pricing

,rent_price,is_rent_price_known,buy_price,is_buy_price_known,buy_price_by_area
0,471,False,85000,True,1328
1,666,False,129900,True,1856
2,722,False,144247,True,1535
3,583,False,109900,True,1717
4,1094,False,260000,True,2407
...,...,...,...,...,...
21735,1346,False,360000,True,4420
21736,1320,False,349000,True,3525
21737,1323,False,350000,True,4487
21738,1496,False,425000,True,4427
21739,2081,False,680000,True,3886

In [607]:
pricing.reset_index(drop=True, inplace=True)
type.reset_index(drop=True, inplace=True)

In [608]:
pricing = pd.concat([pricing, type['price_id']], axis=1)

In [609]:
pricing

,rent_price,is_rent_price_known,buy_price,is_buy_price_known,buy_price_by_area,price_id
0,471,False,85000,True,1328,10266
1,666,False,129900,True,1856,12976
2,722,False,144247,True,1535,13604
3,583,False,109900,True,1717,1492
4,1094,False,260000,True,2407,285
...,...,...,...,...,...,...
17392,1346,False,360000,True,4420,14922
17393,1320,False,349000,True,3525,800
17394,1323,False,350000,True,4487,15077
17395,1496,False,425000,True,4427,1144
17396,2081,False,680000,True,3886,16418

## 3. Importing to SQL

In [610]:
token = getpass()

In [613]:
dbName = "madrid"
connectionData = f"mysql+pymysql://root:{token}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
# df.to_sql("pisos", if_exists="append", con=engine, index=False)
main_info.to_sql('main_info', engine, index=False, if_exists='replace')
location.to_sql('location', engine, index=False, if_exists='replace')
features.to_sql('features', engine, index=False, if_exists='replace')
type.to_sql('type', engine, index=False, if_exists='replace')
pricing.to_sql('pricing', engine, index=False, if_exists='replace')

17397